@media all and (min-width: 1600px) {
  .carte:nth-child(3n+0) {
    opacity: 0.9 !important;
  }
  .carte, .intro {
    width: 25% !important;
    height: 25vw !important;
  }
}
@media all and (max-width: 1599px) and (min-width: 1111px) {
  .carte:nth-child(even) {
    opacity: 0.9 !important;
  }
  .carte:nth-child(3n+0) {
    width: 34% !important;
  }
}
@media all and (max-width: 1110px) and (min-width: 600px) {
  .carte, .intro {
    width: 50% !important;
    height: 50% !important;
  }
}
@media all and (max-width: 599px) and (min-width: 50px) {
  .carte, .intro {
    width: 100% !important;
    height: 75% !important;
  }
  img.box {
    width: 90% !important;
  }
  .carte:nth-child(even) {
    opacity: 0.9 !important;
  }
  p {
    font-size: 18px !important;
  }
  h1 {
    font-size: 27px !important;
  }
  .toc h1 {
    font-size: 15px !important;
  }
  .carte-text {
    padding: 15px !important;
  }
  .toc {
    width: 50% !important;
  }
}
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700|Share+Tech+Mono|Source+Sans+Pro:300,400');

body {
    z-index: 0;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
a {
  color: inherit;
  text-decoration: none;
}
h1 {
  font-size: 30px;
  margin: 7px;
  font-family: 'Francois One', monospace;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
}
h1.number {
  position: absolute;
  top: 5px;
  left: 5px;
  opacity: 0.3;
  z-index: 10;
}
p {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
  font-size: 21px;
  text-align: center;
  margin: 7px;
}
button {
  background-color: unset;
  border: unset;
}
/*button:hover {
  background-color: unset;
}*/

.tableau {
    z-index: 1;
    display: flex;
    flex-wrap: nowrap;
    position: absolute;
    margin: auto;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.content {
  box-sizing: border-box;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow-x: visible;
  overflow-y: scroll;
}

.foo-toc {
  display: flex;
  flex-direction: column-reverse;
  height: 100%;
  position: fixed;
  box-sizing: border-box;
  z-index: 10;
}
.footer {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  width: auto;
  height: 60px;
  box-sizing: border-box;
}
.toc-button {
    position: relative;
    height: 60px;
    justify-content: center;
    align-items: center;
    color: black;
}
.toc-button:hover, .hide-toc:hover {
  background-color: black;
  color: white;
}
img.toc-picto {
}
.toc-button:hover img.toc-picto, .hide-toc:hover img.toc-picto {
filter: invert(1);
}
.hide-toc {
  background-color: black;
  color: white;
}
#closeToc {
  display: none;
}
.toc-button:hover .toc {
  visibility: visible !important;
}
.footer h1, .toc h1 {
  font-size: 16px;
  text-align: left;
}
.toc {
  box-sizing: border-box;
  left: 0px;
  height: 100%;
  width: 20%;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-top: 60px;
  position: relative;
  z-index: 10;
  box-shadow: 2px 0px 2px #0006;
}
.toc-inside {
  overflow: auto;
}
.footer-button {
  padding: 7px;
}

.carte, .intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 33vw;
  position: relative;
}

.carte:target {
  animation: highlight 1.5s ease;
}
@keyframes highlight {
  0% { background-color: none; }
  50% { background-color: white; opacity: 0.8; }
  100% { background-color: none; }
}

.carte-text {
  visibility: hidden;
  position: absolute;
  background-color: white;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 30px;
}
.carte:hover .carte-text {
  visibility: visible;
}
.carte:hover h1.number {
  opacity: 1;
}

.cible {
  background-color: #4ab7ff;
}
.famA {
  color: #4ab7ff;
  font-family: inherit;
  font-size: inherit;
}
.organes {
  background-color: #8c7bff;
}
.famB {
  color: #8c7bff;
  font-family: inherit;
  font-size: inherit;
}
.matieres_premieres {
  background-color: #fb7d82;
}
.famC {
  color: #fb7d82;
  font-family: inherit;
  font-size: inherit;
}
.debouches {
  background-color: #ffa33c;
}
.famD {
  color: #ffa33c;
  font-family: inherit;
  font-size: inherit;
}
.effets {
  background-color: #f8ea00;
}
.famE {
  color: #f5d805;
  font-family: inherit;
  font-size: inherit;
}

img.box {
    width: 70%;
    height: auto;
}
.footer-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  bottom: 0px;
  z-index: 100;
  position: fixed;
  margin: auto;
  background-color: var(--white);
}
